body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0 0;
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    border-bottom: 3px solid #febd69;
    background-color: #232f3e;
    z-index: 1;

}

#header>.logo {
    width: 5rem;
}

#header>.searchbar {
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.searchbar>.searchinput {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.searchbar>.searchbutton {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.searchbar>.searchbutton:hover {
    background: #0b7dda;
}

#catalogue {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

#catalogue>.item {
    width: 15rem;
    height: 25rem;
    object-fit: cover;
    object-position: center;
    font-family: Verdana;
    border: 3px inset black;
    user-select: none;
    flex: 0 0 auto;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    border-left: none;
    border-top: none;
}

#catalogue:has(.item:hover) .item:not(.item:hover) {
    opacity: 0.2;
    transition: 0.3s;
}

#catalogue>.item:hover {
    scale: 1.02;
    transition: 0.3s;
    border-left: 3px inset black;
    border-top: 3px inset black;
}

#catalogue>.item>.item-img {
    width: 100%;
    height: 50%;
}