body {
    display: flex;
    overflow-y: hidden;
}

#catalogue {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}

#catalogue>.item {
    width: 30vmin;
    height: 50vmin;
    object-fit: cover;
    object-position: center;
    font-family: Verdana;
    border: 3px solid black;
    user-select: none;
}

#catalogue:has(.item:hover) .item:not(.item:hover) {
    opacity: 0.2;
    transition: 0.3s;
}

#catalogue>.item:hover {
    scale: 1.01;
    transition: 0.3s;
}

.item>.item-img {
    width: 30vmin;
    height: 26vmin;
}