body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("/assets/register-background.png") no-repeat center center fixed;
    background-size: cover;
    font-size: 1.25rem;
}

img.logo {
    display: inline;
    width: 7rem;
    height: 7rem;
    cursor: default;
}

form.container {
    border-radius: 1em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: min-content;
    justify-self: center;
    margin: auto;
    padding: 20px;
    width: 601px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: flex-start;
}

form.container>div.form-header,
form.container>div.form-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
}

input[type=text],
input[type=password],
input[type=date],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}
div.auth-link{
    font-weight: bold;
    font-size: medium;
}
label {
    font-weight: bold;
}

button {
    width: 100%;
}

.snackbar{
    position: absolute !important;
    left: 0;
    font-weight: normal;
}