:root {
    font-family: Arial, Helvetica, sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    column-gap: 1rem;
}
.modal-content>form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.modal-content>form>input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    background: #f1f1f1;
}

.modal-content>form>textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid grey;
    width: 80%;
    background: #f1f1f1;
    resize: none;
}

.modal-content>form>button {
    padding: .2em .6em;
    width: 50%;
}

.modal-content>form>label{
    font-size: 1em;
    font-weight: 600;
}
input.value-input{
    font: 1em sans-serif;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}