div.offer{
    display: flex;
    flex-direction: row;
}

img.offer-img{
    width: 30rem;
    height: 30rem;
}
.offer-title{
    font-size: 5rem;
}
div.offer-right{
    display: flex;
    flex-direction: column;
}